.logo {
  background-color: red;
  color: blue;
  /* font-size: larger; */
  border: red;
}

.fs {
  border: 7px;
  /* color: red; */
  /* background-repeat: no-repeat; */
}

.sffddf {
  /* background-color: red; */
  /* border: 7px; */
  /* color: red; */
  /* background-repeat: no-repeat; */
}
