.logo{
    background-color: red;
    color: blue;
    font-size: larger;
    border: red;
}
/* .fs{
    background-color: blue;
    color: orange;
    border: 7px;
    color: red;
    background-repeat: no-repeat;

} */